---
layout: default
---
<div class="blog-post">
  <h1>{{ page.title }}</h1>
  <p class="post-date">{{ page.date | date: "%B %d, %Y" }}</p>
  <div class="post-content">
    {{ content }}
  </div>
  
</div>


<style>
  .post-date {
    color: #666;
    font-style: italic;
    margin-bottom: 20px; /* Add space below the date */
  }
  
  .post-content {
	margin-top: 20px;
  }
  .post-content p {
    line-height: 1.5;
    font-size: 12pt;
  }
  .post-content li {
    line-height: 2;
  }
h2 {
color: #255799;
font-size: 1.4em;
margin-top: 15px;
margin-bottom: 8px;
border-bottom: none;
}
</style>




<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/katex.min.css" integrity="sha384-GvrOXuhMATgEsSwCs4smul74iXGOixntILdUW9XmUC6+HX0sLNAK3q71HotJqlAn" crossorigin="anonymous">
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/katex.min.js" integrity="sha384-cpW21h6RZv/phavutF+AuVYrr+dA8xD9zs6FwLpaCct6O9ctzYFfFr4dgmgccOTx" crossorigin="anonymous"></script>
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/contrib/auto-render.min.js" integrity="sha384-+VBxd3r6XgURycqtZ117nYw44OOcIax56Z4dCRWbxyPt0Koah1uHoK0o4+/RRE05" crossorigin="anonymous"
    onload="renderMathInElement(document.body);"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        renderMathInElement(document.body, {
            delimiters: [
                {left: '$$', right: '$$', display: true},
                {left: '$', right: '$', display: false},
                {left: '\\(', right: '\\)', display: false},
                {left: '\\[', right: '\\]', display: true}
            ]
        });
    });
</script>
